.textarea,
.input,
.button {
  font-family: "Itim";
  background-color: #FFF;
  color: #2c2c2c;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  font-weight: bold;
  background-clip: padding-box;
  outline: none;
}

.textarea {
  font-size: 1.1em;
  width: 100%;
  height: 200px;
  border-image: url(/icons/textarea.svg) 10 10 10 10 stretch stretch;
  overflow: hidden;
  resize: none;
  color: #2c2c2c;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
}

.input {
  margin-bottom: 5px;
  font-size: 1.1em;
  width: 100%;
  border-image: url(/icons/button.svg) 10 10 10 10 stretch stretch;
  color: #2c2c2c;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
}

.button {
  cursor: pointer;
  margin-top: 5px;
  font-size: 1.25em;
  text-align: center;
  border-image: url(../icons/button.svg) 10 10 10 10 stretch stretch;
  float: right;
}
