.textarea,
.input,
.button {
  font-family: "Itim";
  background-color: #FFF;
  color: #2c2c2c;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  font-weight: bold;
  background-clip: padding-box;
  outline: none;
}

.textarea {
  font-size: 1.1em;
  width: 100%;
  height: 200px;
  border-image: url(src/assets/icons/textarea.svg) 10 10 10 10 stretch stretch;
  overflow: hidden;
  resize: none;
  color: #2c2c2c;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
}

.input {
  margin-bottom: 5px;
  font-size: 1.1em;
  width: 100%;
  border-image: url(src/assets/icons/button.svg) 10 10 10 10 stretch stretch;
  color: #2c2c2c;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
}

.button {
  cursor: pointer;
  margin-top: 5px;
  font-size: 1.25em;
  text-align: center;
  border-image: url(src/assets/icons/button.svg) 10 10 10 10 stretch stretch;
  float: right;
}

.popup {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup-content {
    margin: 10% auto;
    width: 85%;
}

.post-title,
.post-text {
  padding: 5px;
  margin: 5px;
}

.img {
  width: 18px;
}

.buttons {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: -4px;
  background-color: transparent;
  border: transparent;
  float: right;
  cursor: pointer;
}

.post-title {
  font-size: 1.75em;
}

.post-text {
  font-family: Itim;
  font-size: 1.5em;
}

.sketch-posts-public,
.sketch-posts-user,
.sketch-posts-system {
  color: #2c2c2c;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  cursor: pointer;
  background-clip: padding-box;
  margin-bottom: 10px;
  word-break: break-word;
}

.sketch-posts-public {
  border-image: url(src/assets/icons/posts-public.svg) 5 5 5 5 stretch stretch;
  background-color: #6cace4;
}

.sketch-posts-user {
  border-image: url(src/assets/icons/posts-user.svg) 5 5 5 5 stretch stretch;
  background-color: #26c485;
}

.sketch-posts-system {
  border-image: url(src/assets/icons/posts-system.svg) 5 5 5 5 stretch stretch;
  background-color: #dd2d4a;
}
